/* ==== GLOBAL ==== */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input,
button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

/* ==== LOGIN ==== */
.login-container {
  padding: 30px;
}

/* ==== SIGNUP ==== */
.signup-container {
  padding: 30px;
}
