/* ================= GLOBAL ================= */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input,
button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

input {
  margin: 8px 0;
  border: 1px solid #ccc;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* ================= LOGIN ================= */
.login-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
}

.create-account a {
  color: #0078d7;
  text-decoration: none;
}

.create-account a:hover {
  text-decoration: underline;
}

/* ================= SIGNUP ================= */
.signup-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

/* back to login */
.back-login {
  margin-top: 12px;      /* ระยะห่างจากปุ่ม Sign up */
  text-align: center;    /* ให้อยู่กึ่งกลาง */
  font-size: 14px;
}

.back-login a {
  color: #0078d7;
  text-decoration: none;
}

.back-login a:hover {
  text-decoration: underline;
}
#mouse-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.6) 40%
  );
  z-index: 999;
  transition: background 0.05s linear;
}


